<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let hero = (site.data.hero !== undefined) ? site.data.hero : defaultData('hero');
let social = (site.data.social !== undefined) ? site.data.social : defaultData('social');
%>

<!--========== HERO ==========-->
<div class="promo-block parallax-window" data-parallax="scroll" data-image-src="<%= hero.image %>" data-position="-150px center" data-ios-disabled="false" data-ios-fix="false" data-android-disabled="false" data-android-fix="false">
  <!--<h1 class="promo-block-title" style="text-align: center;"><%- hero.title %></h1>
  <p class="promo-block-text" style="text-align: center;"><%- hero.proposal_value %></p>-->
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="promo-block-divider">
                <h1 class="promo-block-title"><%- hero.title %></h1>
                <p class="promo-block-text" style="font-size:large; opacity: 0.8;"><%- hero.proposal_value %></p>                
              </div>
              
              <ul class="list-inline">
                <li>
                  <a href="/swf-tester/">
                    <h3 class="promo-block-link">TEST YOUR SWF</h3>
                  </a>
                </li>
              </ul>
          </div>
      </div>
      <!--// end row -->
  </div>
</div>
<!--========== HERO ==========-->